* {
    box-sizing: border-box;
}

/* centering all the text on the page */

.center-text {
    text-align: center;
}

/* creating a button for top page links */

.btn {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding: 6px 12px;
    border-radius: 6px;
    color: #d87d15;
    background-color: #d87d15;
    border-color: #d87d15;
  }

a:link    { color: #EF767A;  }
a:hover   { color: #000000; }

/* semantic containers */

header {
    width: auto;
    margin: 0px;
    padding: 0px;
}

body {
    background: #FFF8F0;
}

footer {
    background: #567568;
    margin: 0px;
    padding: 25px;
}

/* text formatting */

h1, h2, h3, p, ol, ul {
    color: #392F5A;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    margin-top: 0px;
    padding-top: 50px;
}

h2 {
    font-size: 40x;
    margin-top: 0px;
    padding: 25px;
    
}

h3 {
    font-size: 30x;
}

p {
    color: #392F5A;
    font-size: 15px; 
}

ol {
    color: #392F5A;
    font-size: 15px;
    list-style-position: inside;
}

ul {
    color: #392F5A;
    font-size: 20px;
    padding: 0px;
    margin: 25px;
}

/* horizontal line */

hr {
    margin: 25px;
}

/* image, banner, and wrapper */

img {
    padding: 50px;
    width: 500px;
    height: 800px;
}

.top-banner {
    background: #9DD9D2;
}

.wrapper {
    width: 700px;
    margin: auto;
}

